.grid_container {
  background: var(--darkGrey);
  display: flex;
  flex-direction: column;
}

.grid_container section {

}

.top {
  height: 100vh;
}

.projects {
  margin-top: 20vh; 
}

.contact {
  margin-bottom: 30vh;
}


.footer {
  height: fit-content;
}
